
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */
.header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:space-between;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.075);
}

#leave-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 2px 15px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

/* chat */
.chat{
  position: fixed;
  width: 0;
  height: 330px;
  right: 0;
  margin-right: 10px;
  bottom: 0;
  margin-bottom: 30px;
  z-index: 6;
  transition:  .5s;
  background-color: white;
}

.chat-header{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 2px 0px;
  width: 392px;
  padding-left: 10px;
}

#open-chat-btn{
  position: fixed;
  padding: 5px;
  width: 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  bottom: 0;
  margin-bottom: 10px;
  right: 0;
  margin-right: 10px;
}

/* message body */
.messagebody{
  width: 100%;
  height: 90%;
  overflow: scroll;
  border: 1px solid black;
}

.chat-body{
  display: flex;
  gap: 2px;
}

#sender-name{
  color: red;
}


/* MESSAGE BOX */
.messagebox{
  width: 100%;
  height: 10%;
  display: flex;
}

#message-text{
  width: 90%;
}

#send-btn{
  width: 10%;
}

/* Side Bar */   
#show-users{
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.sidebar{
  width: 0px;
  height: 100vh;
  transition: .5s;
  position: fixed;
  z-index: 6;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  border-right: 1px solid gray;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.sidebar p{
  transition: .1s;
}

/* main */
.main-flex{
  display: flex;
}

/* CaNVAS */
#clear-canvas-btn{
  width: 100px;
  height: 30px;
  padding: 5px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  position: absolute;
  margin-left: calc(100vw - 130px);
  margin-top: 20px;
}

canvas{
  border: 1px solid black;
}

/*HIDE*/
.hide{
  visibility: hidden ;
}

/*HOME */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: plum;
}

.home-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.582);
}

#login-text{
  font-size: 2rem;
}

.home-text{
  font-size: 1.2rem;
}

.home-btns{
  margin-top: 5px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}

.home-btns:hover{
  cursor: pointer;
}

#new-notification{
  background-color: red;
  z-index: 1;
  position: absolute;
  right: 90px;
  bottom: 19px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

@media only screen and (max-width:768px){
  .chat-header{
    width: inherit ;
  }
}